
.pnlMill {
	-fx-background-color: #EB9A4E;

}

.pnlBrewery {
	-fx-background-color: #BB9E5A;
	
}

.pnlCottage {
	-fx-background-color: #76BD5F;
	
}

.pnlGuardhouse {
	-fx-background-color: #65C4CA;
	
}

.pnlBarracks {
	-fx-background-color: #C56155;
}

.pnlInn {
	-fx-background-color: #E1C433;
}

.pnlCastle {
	-fx-background-color: #87699B;
}

.pnlInfirmary {
	-fx-background-color: #948F83;
}

.pnlCardTable {
	-fx-background-color: #85542D;
	
}

.pnlPlayerInfo {
	-fx-background-color: #EBD58B;
}

.display {
	-fx-padding: 3px;
	-fx-background-color: #fff5dd;
}

.displayToHover {
	-fx-background-color: #ffff7a;
}

.displayToHover:hover {
	-fx-border-style: solid;
	-fx-border-color: red;
	-fx-border-width: 3px;
	-fx-padding: 0px;
}

.playersCards {
	-fx-background-color: #c3dff4;
}

.opponents {
	-fx-background-color: #b0b3b7;
}

#pnlDisplaySelectedCard {
	-fx-shape: circle;
	-fx-background-color: #EBD58B;
}
