.display {
	-fx-padding: 3px;
	-fx-background-color: #fff5dd;
}

.display:hover { 
	-fx-border-style: solid;
	-fx-border-color: red;
	-fx-border-width: 3px;
	-fx-padding: 0px;
}

.playersCards {
	-fx-background-color: #c3dff4;
}