
.pnlMill {
	-fx-background-color: #EB9A4E;
}

.pnlBrewery {
	-fx-background-color: #BB9E5A;
}

.pnlCottage {
	-fx-background-color: #76BD5F;
}

.pnlGuardhouse {
	-fx-background-color: #65C4CA;
}

.pnlBarracks {
	-fx-background-color: #C56155;
}

.pnlInn {
	-fx-background-color: #E1C433;
}

.pnlCastle {
	-fx-background-color: #87699B;
}

.pnlInfirmary {
	-fx-background-color: #948F83;
}

.pnlImage {
	-fx-background-size: contain  ;
	-fx-background-position: center ;
	-fx-background-repeat: stretch ;
}

.pnlCardTable {
	-fx-background-color: #85542D;
	
}

.pnlPlayerInfo {
	-fx-background-color: #EBD58B;
}

.lblMeeplesOnCard {
	-fx-font-weight: bold;	
	-fx-font-size: 40px;
	-fx-text-fill: yellow;
	-fx-font-family: "Edwardian Script ITC";
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.7, 0 , 2 );
    
}

.pnlRowPlayers {
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 3px 0px 3px 0px;
	
}

.pnlPlayersLeft {
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 3px 0px 3px 3px;
	-fx-border-radius: 10px 0px 0px 10px;
}

.pnlPlayersRight {
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-width: 3px 3px 3px 0px;
	-fx-border-radius: 0px 10px 10px 0px;
}

.pnlRowPlayersTurn {
	-fx-border-color: yellow;
}

.pnlDisplaySelectedCard {
	-fx-background-color: #EBD58B;
	-fx-background-radius: 75;
}







.display {
	-fx-padding: 3.0px;
	-fx-background-color: #fff5dd;
}

.displayToHover {
	-fx-background-color: #ffff7a;
}

.displayToHover:hover {
	-fx-border-style: solid;
	-fx-border-color: red;
	-fx-border-width: 3.0px;
	-fx-padding: 0.0px;
}

.playersCards {
	-fx-background-color: #c3dff4;
}

.opponents {
	-fx-background-color: #b0b3b7;
}


