.display {
	-fx-padding: 3px;
	-fx-background-color: #fff5dd;
}

.displayToHover {
	-fx-background-color: #ffff7a;
}

.displayToHover:hover {
	-fx-border-style: solid;
	-fx-border-color: red;
	-fx-border-width: 3px;
	-fx-padding: 0px;
}

.playersCards {
	-fx-background-color: #c3dff4;
}

.opponents {
	-fx-background-color: #b0b3b7
}